.header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-top: .05rem solid #e5e5e5;
  margin-top: 2rem;
}

article {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial, "Microsoft Yahei", "Segoe UI Symbol", sans-serif;
}

.excerpt {
    border-left: 1px solid #1abc9c;
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
}

.meta {
    padding: 0px 0px 15px 0px;
}

.posts .post {
    padding: 8px 0px;
    border-top: 1px solid #d5d5d5;
}

.posts .date {
    color: #999;
    padding: 0px 0px 8px;
}

.posts h2 {
    font-size: 1.25rem;
    font-weight: bold;
}