---
layout: default
---

<div class="row" style="min-height:720px;">

<div class="col-lg-3">
<div class="card border-0">
  <img class="img-rounded" style="max-height:230px;max-width:230px" src="{{ site.avatar }}" />
  <div class="card-block" style="padding:15px 0px">
    <h4 class="card-title">{{ site.name }}</h4>
    <p class="card-text">{{ site.description }} <a href="https://github.com/yangyuan">https://github.com/yangyuan</a></p>
  </div>
</div>

</div>
<div class="col-lg-9">
    {{ content }}
</div>

</div>
