---
layout: default
---

<div class="row" style="min-height:720px;">

<div class="col-lg-3">
<div class="card border-0">
  <img class="img-rounded" style="max-height:230px;max-width:230px" src="{{ site.avatar }}" />
  <div class="card-block" style="padding:15px 0px">
    <h4 class="card-title">{{ site.name }}</h4>
    <p class="card-text">{{ site.description }} <a href="https://github.com/yangyuan" target="_blank">https://github.com/yangyuan</a></p>
  </div>
</div>


<div class="card border-0">
  <div class="card-block" style="padding:0px">
    <p class="card-text">
<div class="g_l_link"><a href="https://github.com/yangyuan" target="_blank"><font color="#dd4b39">&raquo; GitHub</font></a></div>
<div class="g_l_link"><a href="http://www.linkedin.com/pub/yuan-yang/86/56/5b4" target="_blank">&raquo; Linkedin</a></div>
<div class="g_l_link"><a href="http://www.facebook.com/profile.php?id=100009320208345" target="_blank">&raquo; Facebook</a></div>
<div class="g_l_link"><a href="https://twitter.com/_yangyuan" target="_blank">&raquo; Twitter</a></div>
<div class="g_l_link"><a href="http://stackoverflow.com/users/3907386/" target="_blank">&raquo; Stack Overflow</a></div>
<div class="g_l_link"><a href="http://weibo.com/1936983364" target="_blank">&raquo; 微博</a></div>
    </p>
  </div>
</div>

<div class="card border-0">
  <div class="card-block" style="padding:15px 0px">
    <p class="card-text">
      <a href="http://gavxin.com/" target="_blank">&raquo; Gavin （一个思密达）</a><br />
      <a href="http://kevinsj.com/" target="_blank">&raquo; 以前的一个不太正常的老板</a></p>
  </div>
</div>
<!-- G_INFO END -->

</div>
<div class="col-lg-9">
    {{ content }}
</div>

</div>
